.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: sans-serif;
    margin: 20px 0;
}

.navButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 16px;
}

.navButton:hover:not(:disabled) {
    color: #fff;
}

.navButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pageButton {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pageButton:hover:not(.active) {
    background: rgba(59, 59, 59, 0.5);
    color: #fff;
}

/* the background colour needs to go in this l */
.pageButton.active {
    background: black;
    color: #fff;
    position: relative;
    border-radius: 8px;
}

.pageButton.active::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(195, 84, 255, 1) 14.93%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 92.16%);
    z-index: -1;
}

.ellipsis {
    color: #8A8A8A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}

.arrowLeft{
    transform: rotate(90deg);
    margin-top:2px ;
}

.arrowRight{
    transform: scaleY(-1) rotate(-90deg);
    margin-top:4px ;
}