.button {
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: Roboto;
  resize: none;
}


.buttonContainer {
  position: relative;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  resize: none;
}

/* CSS FOR PRIMARY BUTTON */
.Primary.button{
  background: #0F0F0F;
}
/* added border to buttonContainer ( ussing after pseudo element ) to create a border around the button */
.Primary.buttonContainer::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(90deg, rgba(195, 84, 255, 1) 14.93%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 92.16%);
  border-radius: 10px;
  z-index: -1;
}

/* for hover */
.Primary.button:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(195, 84, 255, 1) 14.93%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 92.16%);
  border-radius: 10px;
  z-index: -2;
  filter: blur(13px);
}

/* for active */
.Primary.button:active::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 10px;
  z-index: -2;
  filter: blur(13px);
}

.Primary.buttonContainer:active:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(90deg, rgba(195, 84, 255, 1) 14.93%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 92.16%);
  border-radius: 10px;
  z-index: -1;
  opacity: 0.5;
}

.Primary.button:active {
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 0px;
  background: #0F0F0F;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  resize: none;
  opacity: 0.5;
}


/* CSS FOR SECONDARY BUTTON */