.liveSearchContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.searchInput {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(15, 15, 15, 1);
    border: 1px solid rgba(54, 54, 54, 1);
    color: white;
    font-size: 16px;
    font-family: inherit;
}

.suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(23, 23, 23, 1);
    border: 1px solid rgba(54, 54, 54, 1);
    border-top: none;
    border-radius: 0 0 8px 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.suggestionsList li {
    padding: 12px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(54, 54, 54, 1);
}

.suggestionsList li:last-child {
    border-bottom: none;
}

.suggestionsList li:hover {
    background-color: rgba(33, 33, 33, 1);
}

.loadingIndicator, .error {
    padding: 12px;
    color: #999;
}
