.container{
    margin:auto;
    margin-top: 160px;
    width: 75%;
    height: fit-content;
    padding: 20px;
    background-color: rgba(50,50,50,1);
    border-radius: 10px;
    margin-bottom: 160px;
}

.title{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}