.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px -18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cardContainer {
    background: #111111;
    border-radius: 10px;
    border: 1px solid #232323;
    padding: 10px;
}

.headerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 110, 110, 0.13);
    padding: 10px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.12);
}

.branch {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    background: rgba(47, 47, 47, 0.24);
}

.contentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    .regPlaced {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .packages {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}


.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    font-size: 24px;
}
.node {
    width: 100%;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(161, 161, 161, 0.12);
    .nodeHead {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.89);
    }
    .nodeData {
        color: white;
        font-weight: 800;
        font-size: 22px;
    }
}