.headContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    .background {
        position: relative;
        width: 100%;
        max-width: 800px;
        height: 200px;
        border-radius: 10px;
        display: flex;
        border: 1px solid rgba(51, 51, 51, 0.5);
    }
    .headText {
        position: relative;
        display: flex;
        gap: 14px;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        z-index: 20;
        margin-top: -45px;
        padding: 18px;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        border: 1px solid rgba(145, 145, 145, 0.18);
        background-color: rgba(52, 52, 52, 0.37);
        .icon {
            position: relative;
            min-width: 45px;
            height: 45px;
            border-radius: 5px;
            overflow: hidden;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;

}

.contentContainer {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.5);
    .h2 {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: white;
        border-radius: 8px;
        padding: 10px 18px;
        margin-bottom: 12px;
        background: rgba(0, 0, 0, 0.81);
    }
    .h2::after {
        content: "";
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        background:  linear-gradient(90deg, rgba(195, 84, 255, 1) 8.63%, rgba(106, 127, 246, 1) 50%, rgba(92, 255, 192, 1) 86.8%);
        border-radius: 8px;
        z-index: -1;
    }
}

.grid {
    gap: 12px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.catg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.5);
    & > span {
        font-weight: 900;
        font-size: 18px;
    }
}