.text{
    padding: 8px;
    border-radius: 8px;
    background-color:rgba(15,15,15,255);
    border: 0px;
    padding-left: 12px;
    margin-left: 8px;
}

.text::placeholder{
    color:rgba(76,76,76,255);
}

.text:hover{
    background-color: rgba(20,20,20,255);
}

.text:hover::placeholder{
    color:rgba(78,78,78,255);
}

.text:focus{
    outline: none;
}