.dataTable {
    background : rgba(15, 15, 15, 1);
    border-style : Solid;
    border-color : rgba(33, 33, 33, 1);
    border-width : 1px;
    border-radius : 8px;
    max-width: 820px;
    width: 100%;
    overflow-y: visible;
    .header{
        background : rgba(23, 23, 23, 1);
        padding: 8px 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        .hash {
            background : rgba(15, 15, 15, 1);
            border-style : Solid;
            width : 42px;
            height : 42px;
            border-color : rgba(54, 54, 54, 1);
            border-width : 1px;
            border-radius : 7px;
            color: white;
            font-weight: 100;
            font-style: italic;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .controls {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%
        }
        .mobileControls {
            display: none;
        }
    }
    .content{
        .dataCard {
            max-height: 120px;
            border-top: 1px solid #1f1f1f;
            display: flex;
            flex-direction: row;
            padding: 20px 0;
            .index {
                width: 58px;
                max-height: 90px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 100;
                color: white;
            }
            .clgData {
                max-height: 90px;
                width: calc(100% - 50px);
                height: 100%;
                display: grid;
                grid-template-columns : repeat(3, 1fr);
                .iconHolder {
                    display: flex;
                    flex-direction: row;
                    margin: 0 14px;
                    justify-content: start;
                    align-items: center;
                    gap: 12px;
                    color: white;
                    font-size: 14px;
                    font-weight: 600;
                    .icon {
                        background-color: white;
                        border-radius: 5px;
                        overflow: hidden;
                        position: relative;
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                        object-position: center;
                        box-shadow: 0 0 20px rgba(255, 255, 255, 0.32);
                    }
                }
                .branchHolder {
                    margin: 0 14px;
                    display: flex;
                    font-size: 14px;
                    flex-direction: row;
                    align-items: center;
                    color: white;
                }

                .rankHolder {
                    display: flex;
                    font-size: 14px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    color: white;
                    margin: 0 14px;
                }
                .rankHolder.mobile {
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 820px) {
    .dataTable {
        .header {
            .controls {
                display: none;
            }
            .mobileControls {
                margin-left: auto;
                display: flex;
            }
        }
        .content {
            .dataCard {
                max-height: 800px;
                padding: 20px 0;
                display: flex;
                justify-content: center;
                .index {
                    max-height: unset;
                    font-weight: 400;
                    height: 36px;
                }
                .clgData {
                    max-height: 300px;
                    display: block;
                    height: max-content;
                    .iconHolder {
                        margin: 0 8px;
                        height: 40px;
                        grid-area: 1;
                        font-size: 24px;
                    }
                    .branchHolder {
                        margin: 0 8px;
                        height: fit-content;
                        font-size: 14px;
                        padding-left: 44px;
                    }
                    .rankHolder {
                        display: none;
                        overflow: hidden;
                        font-size: 12px;
                        width: fit-content;
                        font-weight: 700;
                        border: 1px solid #1f1f1f;
                        background: rgba(26, 26, 26, 0.49);
                        border-radius: 5px;
                        margin-left: 50px;
                        margin-top: 10px;
                        padding-left: 8px;
                    }
                    .rankHolder.mobile {
                        display: flex;
                    }
                }
            }
        }
    }
}